<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../static/js/plotly-latest.min.js"></script>
    <script src="../static/js/font.js"></script>
<!--   <script>
        function cd(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('tips1', result, {});;
                }
            });
        }
    </script> -->
</head>

<body style="font-family:arial, sans-serif">
	<h1>penguins分析</h1>
	柱状极坐标图：
	<div id="penguins" class="penguins"></div>
	气泡图:
	<div id="penguins1" class="penguins1"></div>
	小提琴图:
	<div id="penguins2" class="penguins2"></div>
	散点极坐标:
	<div id="penguins3" class="penguins3"></div>
	散点矩阵图：
	<div id="penguins4" class="penguins4"></div>
</body>
<script>
	a = {{ graphJSON | safe }};
	Plotly.newPlot('penguins', a, {});
	b = {{ graphJSON1 | safe }};
	Plotly.newPlot('penguins1', b, {});
	c = {{ graphJSON2 | safe }};
	Plotly.newPlot('penguins2', c, {});
	d = {{ graphJSON3 | safe }};
	Plotly.newPlot('penguins3', d, {});
	e = {{ graphJSON4 | safe }};
	Plotly.newPlot('penguins4', e, {});
</script>

</html>
