<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../static/js/plotly-latest.min.js"></script>
    <script src="../static/js/font.js"></script>
</head>

<body style="font-family:arial, sans-serif">
	<h1>餐厅消费分析</h1>
	等密度线图：
	<div id="tips" class="tips"></div>
	<p>	通过该等密度线图可直观的看出男女消费者在餐厅的分布的时间段。
	从图中可以看出男女消费者大部分都在周末的晚餐时间段在餐厅的
	消费较多。其次就是在周四的午餐时间段。其中男消费者的消费时间
	比女消费者的次数明显要多许多。</p>
	<hr>
	并行类别图：<br />
	<div id="tips1" class="tips1"></div>
	<p>	1、该并行类别图直观的显示了男女消费者在不同的时间段在餐厅吸烟与
	不吸烟，以及消费者的人数个数。</p>
	<p>	2、图中人数的个数越多者连接线的宽度就越宽，反之就越细，且根据不
	同的消费者人数显示不同颜色的连接线。</p>
	<p>	3、其中可以看出大部分都是2人一起吃饭，极少为1人或5，6人吃饭。</p>
	<hr >
	箱形图:
	<div id="tips2" class="tips2"></div>
	<p>	1、箱形图描述了男女用户在餐厅的总消费金额的最大值、最小值、下四分位数、中位数、上四分位数等。</p>
	<p>	2、图中的线外的点表示异常值，图像的上横线表示花费最大值，凹口表示中位数，下横线表示花费最小值。</p>
	<p>	3、箱形图中的上矩形(这里将整个的矩形的中位数也就是中横线
	的地方显示为凹口，方便观看)表示该样本中所有数值由小到大排
	列后第25%的数字。</p>
	<p>	4、箱形图中的下矩形表示该样本中所有数值由小到大排列后第75%的数字。</p>
	<hr >
	多重属性的柱状图：
	<div id="tips3" class="tips3"></div>
	<p>1、该柱状图明确的显示出男女消费者在不同时间段以及不同就餐时间的总消费金额。</p>
	<p>2、从表中可以看出男、女消费者不吸烟比男、女吸烟者的总消费金额要高出不少。</p>
	<p>3、男、女消费者的主要消费时间段基本都在周末的晚餐时间段。少部分在周四的午餐时间段。</p>
	<hr >
	直方图:
	<div id="tips4" class="tips4"></div>
	<p>1、此图主要描述男女消费者在餐消费时的所给的小费的平均值。</p>
	<p>2、其中可以看出吸烟者比不吸烟者所给的消费的平均值要高。</p>
	<p>3、其中男女消费者的所给与的小费的平均值相差不大，且其小费的最大值不超过4。</p>
	
</body>
<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('tips', d, {});
	c = {{ graphJSON1 | safe }};
	Plotly.newPlot('tips1', c, {});
	b = {{ graphJSON2 | safe }};
	Plotly.newPlot('tips2', b, {});
	a = {{ graphJSON3 | safe }};
	Plotly.newPlot('tips3', a, {});
	e = {{ graphJSON4 | safe }};
	Plotly.newPlot('tips4', e, {});
</script>

</html>
